# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# OS
.DS_Store

# Node
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ENV variables
.env

# IntelliJ IDEA
.idea

.eslintcache
